$light_grey: #f5f5f5;
$grey: #DCDCDC;
$grey_dark: #9E9E9E;
$silver: #C0C0C0;
$blue: #337ab7;
$light_blue: #009688;
$black: #000;
$banner_blue: #e4f1f6;
$grey_border: #dddddd;
$maroon: rgba(151,26,75,1);
$font: "Arial Narrow", Arial, sans-serif;/*font-family:*/

header {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 25px;
  height: 100px;
  background-color: $light_grey;
  .logo{
    float: left;
  }
  .beta{
    float: right;
    font-size: 15px;
    line-height: 28px;
    color: #808080;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    height: 31px;
    border-radius: 5px;
    border: 2px solid #ddd;
    margin-top: 18px;
  }
}

h2{
  font-size: 40px;
}
h3{  
  font-size: 24px;
  font-weight: bold;
}
h4{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 5px;
  height: 20px;
  text-align: left;
  color: $black;
}
h5{
  font-size: 20px;
  font-weight: bold;
}
.split-line{
  border-color: $grey;
  height: 1px;
  margin-bottom: 10px;
}
.banner-section{
  padding: 0px;
  margin: 0px;
  .banner{
    height: 270px;
    /*background-color: $banner_blue;*/
    background: url('/sites/all/modules/matter/images/background-02.png');
    background-size: 50%;
    position: relative;
    img{
      max-width: 100%;
      height: 100%;
      position: absolute;
      left: 45%;
    }
    .info-box{
      position: absolute;
      max-height: 200px;
      background-color: rgba(245, 245, 245, 0.75);      
      padding: 0 30px 20px 20px;
      margin: 35px 12% auto;
    }
    .info-box{
      span{
        font-size: 25px;
        font-family: $font;
      }
    }
  }  
}

.breadcrumbs{
  display:none;
  padding-left: 10%;
  padding-right: 10%;
  background-color: $silver;
  color: $blue;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  .active{
    color: $black;
  }
  
  .home-icon{
    cursor: pointer;
  }
  
  .breadcrum_element{
    font-size: 15px;
    padding-left: 10px;
    cursor: pointer;
    i{
        margin-right: 10px;
    }
  }
  .breadcrum_element:last-child{
    color: $black;
  }
}

.inner-sections {
  display:none;
  .container{
    min-height: 360px;
  }
  #next{
    background-color: $grey;
  }
}

.content{
  padding-left: 10%;
  padding-right: 10%;
  min-height: calc(100vh - 243px);
  
    position: relative;

  span{
    font-size: 18px;
  }
  .matters-container {
    /*margin: -1%;*/
    margin-top: 15px;
    .matter-box{
      padding: 1%;
    }
    .matter-item{
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
      float: left;
      height: 102px;
      border-radius: 5px;
      border: 2px solid $grey;
      cursor: pointer;
      box-shadow: 0px 2px 16px 0px rgba(220, 220, 220, 0.79);
      &:hover{
        background-color: $light_grey;
      }
      .matter-content{
      padding-left: 0px;
      padding-right: 0px;
      position: relative;
      }
      .arrows{
        padding-top: 41px;
        padding-bottom: 41px;
        padding-right: 2px !important;
        color: $maroon;
      }
      
      .description{
        font-size: 13px;
        line-height: 14px;
      }
      span{
        position: absolute;   
        font-size: 19px;     
        bottom: 5px;
        color: $light_blue;
        width: 90%;
        i{
          float: right;
        }
      }
    }
  }
  
  .outcome-page{
    .panel-heading{
      cursor: pointer;
    }
  }
  .wrong-link{
    color: $blue;
    font-size: 14px;
    cursor: pointer;
  }
  .feedback-box{
    display: none;
    background-color: $grey;
    padding: 5px 10px 10px 20px;
    margin-top: 10px;
    .feedback-title{
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0px;
    }
    .feedback-description{
      font-size: 14px;
    }
    textarea{
      width: 100%;
    }
    .feedback-btn{
      margin-top: 85px;
      margin-left: 10px;
    }
    .feedback-close{
      cursor: pointer;
    }
  }
  
  .bottom{
    position: absolute;
    bottom: 0;
    height: 185px;
    width: 80%;
  }
}

.footer{
  padding-left: 10%;
  padding-right: 10%;
  background-color: $grey;
  height: 123px;
  .join-us{
    i{
      font-size: 20px;
    }
    span{
      font-size: 12px;
      vertical-align: text-bottom;
      margin-left: 8px;
    }
  }
  .updates{
    padding-top: 20px;
  }
  .cfa-logo {
    padding-top: 15px;
    img{
      width: 130px;   
    }
    p{
      font-size: 11px;
    }
  }
}

#modal{
  i{
    font-size:24px;
  }
}
#fade{
  height: auto;
  min-height: 1500px;
}

.outcome-page{
  display: none;
  .headline{
    display: none;
    border: 1px solid $grey_border;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
    h3{
      display:none;
    }
    ul {
      padding-left: 18px;
    }
    ul > li {
      line-height: 23px;
    }
    ul > li:before {
    }
    p{
      margin-bottom: 0px;
      line-height: 25px
    }
  }
  .terminology{
    padding: 3px 10px 5px 10px;
    border: solid 1px $grey_border;
    border-radius: 3px;
    float: right;
    h5{
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 5px;
    }
    span{
      font-size: 13px;
      color: $grey_dark;
    }
    p:first-letter {
      text-transform: uppercase;
    }
    p{
      line-height: 14px;
    }
    .highlight{
      span{
        color: black;
      }
    }
  }
}
.where-to-go{
  .tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
  }
  .tabs-left {
    border-right: 1px solid #ddd;
  }
  .tabs-right {
    border-left: 1px solid #ddd;
  }
  .tabs-left>li, .tabs-right>li {
    float: none;
    margin-bottom: 2px;
  }
  .tabs-left>li {
    margin-right: -1px;
  }
  .tabs-right>li {
    margin-left: -1px;
  }
  .tabs-left>li.active>a,
  .tabs-left>li.active>a:hover,
  .tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
  }
  p:first-of-type{
    margin: 0;
  }
}


 
/* Extra-Small devices (Mobiles, <768px and up) */
@media (max-width: 767px) { 
  h2{
    font-size: 23px;
  }
  h3{  
    font-size: 18px;
    font-weight: bold;
  }
  .banner-section{
    .banner{
      img{
        left: 0%;
      }
      .info-box{
        margin: 35px 15% auto; 
        padding: 0 10px 20px 10px;
        span{
          font-size: 16px;
        }
      }
    }  
  }
  .breadcrumbs {
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    .breadcrum_element {
        font-size: 12px;
        padding-left: 5px;
      i{
          margin-right: 5px;
      }
    }
  }

  .content{
    span{
      font-size: 16px;
    }
    .matters-container {
      .matter-item{
        height: 102px;
      }
    }
    .feedback-box{
      .feedback-btn{
        margin-top: 10px;
        margin-left: 10px;
      }
    }
    .bottom{
      height: 290px;
    }
  }
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}
 
.panel-title {
  text-align: left;
} 
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  h2{
    font-size: 33px;
  }
  h3{  
    font-size: 21px;
    font-weight: bold;
  }
 
  .banner-section{
    .banner{
      img{
        left: 10%;
      }
      .info-box{
        margin: 35px 17% auto; 
        span{
          font-size: 21px;
        }
      }
    }  
  }
  .content{
    span{
      font-size: 16px;
    }

    .terminology{
      margin-left: 30px;
    }
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
  .terminology{
    margin-left: 30px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .terminology{
    margin-left: 30px;
  } 
  
}

@media print {
  header{
    height: 70px;
  
    .logo{
      img{
          height: 20px;
      }
    }
  }
  
  .tabs-left{
    display: none;
  }
  
  .tab-content{
    .tab-pane {
      display: inline-block;
      border-top: 1px solid #ccc;
      b, strong{
        display: none;
      }
    }
  }
  .where-to-go{
    margin-top: 20px;
  }
  
  
  footer, .bottom, .print-icon, .beta {
    display:none;
  }
}